{% extends 'MenuModule/base.html' %} {% block content %}
<body>

<div id="orders">

    </div>


    <button onclick="send_data()">Send</button>
<script>
  
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/reception/');

    chatSocket.onmessage = function(e) {
        console.log(e['data'])
        update_order(e['data'])
        };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function send_data()
    {
        chatSocket.send(JSON.stringify("data is go"));
    }
    function update_order(data)
    {
        $("#orders").append(data);
            
    }
</script>
</body>
{% endblock %}