{% extends 'MenuModule/base.html' %} {% block content %}

<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color sticky-top">
    <a class="navbar-brand mx-auto" href="#">The Restaurant</a>
</nav>
    <br>
    <div class="container">
       <div class="row">
          <div class="d-none d-lg-block sidebar-item col-lg-3 col-md-3">
             <ul style="list-style-type:none;" class="text-left">
                <div id="dynamic_menu">
                </div>
             </ul>
          </div>
          <div class="content section col-lg-6 col-md-6">
            <div id="mainlg" class="d-none d-lg-block"></div>
              <div id="accordion" class="d-lg-none">
                  <div id="mainsm"></div>
              </div>
          </div>
          <div class='content section col-lg-3 col-md-6'style="padding-bottom:50px;" id="billing">
             <h1 id="total_price"></h1>
             <table class="table table-sm" id="name">
             </table>
             <button type="button" class="btn btn-primary" onclick="send_order()">
             Order
             </button>
          </div>
       </div>      
    </div>
    <div class="sticky-footer d-md-none border-top">
       <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
             <span style="float: left"><a href="#billing" class="js-scroll-trigger">What did I order?</a></span>
             <span id="total_price_foot" style="float: right">
             </span>
          </div>
          <div class="col-3"></div>
       </div>
    </div>


    <script>
        var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/customer/');

            chatSocket.onmessage = function(e) {
                console.log(e)
                popup(e)
                };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
        $(document).ready(function() {
            create_menu()
        });


        total_price = 0
        ordered_item = {
            'table_number':1,
            'name':[],
            'price':[],
            'quantity':[]
        }

        order_item_test = {}

        order_item_id = 0

        function add(name, price) {
            if (ordered_item['name'].includes(name))
            {
                index = ordered_item['name'].indexOf(name)
                ordered_item['quantity'][index] += 1  
            }
            else
            {
                ordered_item['name'].push(name);
                ordered_item['price'].push(price);
                ordered_item['quantity'].push(1);
            }
            
            order_item_id += 1
            total_price += parseInt(price)
            $("#name").append(
                '<tr scope="row" class="list-group-item-action text-left" onclick="remove(' + order_item_id + ','+ "'" + name +"'" +')" id = "' + order_item_id + '" ><td>' + name + '</td><td style="width: 10px;" class="text-right">Rs.' + price + '</td></tr>'
            );
            document.getElementById("total_price").innerHTML = total_price;

            document.getElementById("total_price_foot").innerHTML = total_price;
            
        }

        function remove(order_item_id, name ) {
            if (ordered_item['name'].includes(name))
            {
                $("#" + order_item_id).remove();
                price = 0
                index = ordered_item['name'].indexOf(name)
                price = ordered_item['price'][index]
                if (ordered_item['quantity'][index] <=1 )
                {
                    ordered_item['name'].splice(index,1);
                    ordered_item['price'].splice(index,1);
                    ordered_item['quantity'].splice(index,1);
                }
                else
                {
                    ordered_item['quantity'][index] -= 1
                }
                total_price = total_price - price
                ordered_item['paid_price'] = total_price           
                document.getElementById("total_price").innerHTML = total_price;
                document.getElementById("total_price_foot").innerHTML = total_price;
            
            }
        }

        function send_order() {
            ordered_item['paid_price'] = total_price
            chatSocket.send(JSON.stringify(ordered_item))
        }

        function create_menu() {
            data = {{ data | safe }}
            outputData(data);
        }

        function outputData(data) {
            for (var food_type in data) {
                $("#dynamic_menu").append(
                    "<li><a href='#" + food_type + "' >" + food_type + "</a></li>"
                )
                $("#mainlg").append(
                    "<section id='" + food_type + "'><table class='table table-sm'><tbody id='lg_food_data_" + food_type + "'><tr><th class='' colspan='2'>" + food_type + "</th></tr></tbody></table><br><br></section>"
                );
                for (i = 0; i < data[food_type].name.length; i++) {
                    $('#lg_food_data_' + food_type).append(
                        "<tr class='list-group-item-action text-left' scope='row' onclick='add(" + '"' + data[food_type].name[i] + '"' + "," + '"' + data[food_type].price[i] + '"' +");  displaycount();'><td>" + data[food_type].name[i] + "</td><td class='text-right'>Rs." + data[food_type].price[i] + "</td><td class='menutd' id='clickcount'></td></tr>"
                    )
                }
                $("#mainsm").append(
                    "<div class='card'><div id='head_"+ food_type +"'><h5 class='mb-0'><button class='btn btn-link collapsed' data-toggle='collapse' data-target='#data_"+ food_type +"' aria-expanded='true' aria-controls='data_"+ food_type +"' >"+food_type+"</button></h5></div><div id='data_"+ food_type +"' class='collapse' aria-labelledby='head_"+ food_type +"' data-parent='#accordion'><div class='card-body'><table class='table table-sm'><tbody id='sm_food_data_" + food_type + "'></tbody></table></div></div></div></section><br>"
                );
                for (i = 0; i < data[food_type].name.length; i++) {
                    $('#sm_food_data_' + food_type).append(
                        "<tr class='list-group-item-action text-left' scope='row' onclick='add(" + '"' + data[food_type].name[i] + '"' + "," + '"' + data[food_type].price[i] + '"' +"); displaycount();'><td class='menutd'>" + data[food_type].name[i] + "</td><td class='text-right menutd'>Rs." + data[food_type].price[i] + "</td><td class='menutd' id='clickcount'></td></tr>"
                    )
                }
            }
        }

        function popup(message){
            alert(message)
        }

        $(document).ready(function(){
            $('menutd').css({
                fontSize: "1rem"
            });
            $('.menutd').css("padding","10px 5px 10px 0px")
            $('.menuth').css("padding","5px 0px 5px 0px")
            $('a').css("text-decoration","none")
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }

        // Click Counter
        var count = (function(){
            var counter = 0;
            return function () {return counter +=1;}
        })();

        function displaycount(){
            document.getElementById("clickcount").innerHTML = count();
        }


    </script>
</body>
{% endblock %}